@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Wellfleet&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Wellfleet", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3d0cd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
